.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 66px;
  /* margin-right: 10px; */
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}
